#calendar {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    height: 250px;
    min-width: 200px;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

td.is-disabled {
    color: #ccc;
}

td.dateLine {
    padding: 20px;
}

.day {
    padding-right: 50px;
    padding-left: 50px;
}

.expense {
    color: red;
}

.income {
    padding-top: 50px;
    color: black;
}

/*カレンダーの日付セルにホバー効果 */
.calendar_td:hover {
    background-color: #f0f0f0;  /* 背景色を変更 */
    cursor: pointer;  /* カーソルをポインタに変更 */
    transition: background-color 0.3s ease;  /* 背景色の変化にアニメーションを追加 */
}

/* ボタン全体のスタイル */
.btnn {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}

/* ボタンのホバー効果 */
.btnn:hover {
  background-color: #aaa;
}

/* アイコンのスタイル */
.btnn-arrow-right button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  width: 15px;
  height: 15px;
  margin: auto;
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
  transform: rotate(45deg);
  box-sizing: border-box;
}

/* ホバー時の矢印色の変更 */
.btnn-arrow-right button:hover::after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* ボタン内の不要な四角をリセット */
button {
  border: none;
  background: transparent;
  padding: 0;
  text-align: center;
}

.form {
  display: inline-block;
}