body {
	background-color: #FFF;
}
header {
    display: flex;
    align-items: center;
    height : 70px;
    padding : 0 20px;
    justify-content: space-between;
    margin-bottom : 20px;
    border-bottom : 1px solid #ddd;
}

.table {
    border-collapse: collapse;
    border-top : 1px solid #ddd;
    border-bottom : 1px solid #ccc;
}

.main-contents {
    width : 80%;
}

.errorMessages {
    color : red;
    font-size : 14px;
}

.alert-danger{
    height: 50px;
}

.home-logo {
    text-decoration : none;
    color : #000;
}

.box-left {
	width : 50%;
	height : 100%;
	float : left;
}

.box-right {
	width : 50%;
	height : 100%;
	float : right;
	margin-top : 70px;
}

.display-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom : 20px;
    padding : 0 150px;
}

.bop {
    width : 300px;
    border : 1px solid #ddd;
    border-radius : 10px;
    padding : 20px 50px;
    margin-top : 10px;
}

.bop-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bop-item {
    font-weight : bold;
    font-size : 20px;
}
.income {
    color : blue;
}
.expense {
    color : red;
}

.displayCenter {
    text-align : center;
    margin-bottom : 20px;
}

.btn a {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  padding: 15px 0;
  border : 1px solid #aaa;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: all 0.5s 0s ease;
}

.btn a:hover {
    background-color: #aaa;
}

/* アイコンのスタイル */
.btn-arrow-right a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  width: 9px;
  height: 9px;
  margin: auto;
  border-top: 2px solid #aaa;
  border-right: 2px solid #aaa;
  transform: rotate(45deg);
  box-sizing: border-box;
}

.btn-arrow-right a:hover::after {
    content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;
      width: 9px;
      height: 9px;
      margin: auto;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      box-sizing: border-box;
}