<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script th:src="@{/js/script.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <h1>Kakeibo</h1>
    <div th:if="${landmark} == 'history'" >
        <a th:href="@{/showRecord?date={date}(date=${record.date})}">
            <button type="submit" class="btn btn-outline-secondary me-3">戻る</button>
        </a>
    </div>
    <div th:if="${landmark} == 'houseHold'" >
        <a th:href="@{/showRecord?smallCategoryId={smallCategoryId}(smallCategoryId=${smallCategoryId})}">
            <button type="submit" class="btn btn-outline-secondary me-3">戻る</button>
        </a>
    </div>
</header>

<div class="header-contents">
    <h2 class="text-center my-3">記録編集</h2>
</div>

<div class="main-contents mx-auto">

    <div class="alert alert-danger" th:each="errorMessage : ${errorMessages}">
        <p th:text="${errorMessage}"></p>
    </div>
    <form th:method="put" th:action="@{/updateRecord}" class="text-center" >
        <script th:inline="javascript">
            const bop = /*[[${record.bop}]]*/ 'bop';
            const bigCategoryId = /*[[${record.bigCategoryId}]]*/ 'bigCategoryId';
            const smallCategoryId = /*[[${record.smallCategoryId}]]*/ 'smallCategoryId';
        </script>
        <div class="input-block">
            <input type="hidden" name="id" th:value="${record.id}" />
            <input type="hidden" name="userId" th:value="${record.userId}" />
            <div class="select-block">
                <label>日付:
                    <input type="date" name="date" th:value="${record.date}">
                </label>
            </div>
            <div class="select-block">
                <label>収支：
                    <select id="category-select-3" name="bop">
                        <option value="0">選択してください</option>
                    </select>
                </label>
                <!--<input type="hidden" id="hidden-category" name="bop" />-->
            </div>
            <div class="select-block">
                <label>大カテゴリー：
                    <select id="sub-category-select-3" name="bigCategoryId" disabled>
                        <option>選択してください</option>
                    </select>
                </label>
                <!--<input type="hidden" id="hidden-big-category" name="bigCategoryId" />-->
            </div>
            <div class="select-block">
                <label>小カテゴリー：
                    <select id="product-select" name="smallCategoryId" disabled>
                        <option>選択してください</option>
                    </select>
                </label>
                <!--<input type="hidden" id="hidden-small-category" name="smallCategoryId" />-->
            </div>
            <div class="select-block">
                <label>金額：
                    <input type="number" name="amount" step="1" min="0" th:value="${record.amount}" required>
                </label>
            </div>
            <div class="select-block">
                <label>メモ：
                    <input type="text" name="memo" max="50" th:value="${record.memo}">
                </label>
            </div>
        </div>
        <input type="submit" value="変更" class="btn btn-primary update-button" />
    </form>
</div>
</body>
<script th:src="@{/js/edit.js}"></script>
</html>