<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="header">
        <div class="me-3 fs-6">
        　　  氏名：<span th:text="${loginUser.name}"/><br>
        </div>
    </div>

    <div class="pie-chart">

        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <div class="exChart d-grid gap-2 col-4 mx-auto">
                        <canvas id="expenseChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- CDN -->
        <script type="text/javascript" th:inline="javascript">

            var ctx = document.getElementById("expenseChart");
            var expenseChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: [[ ${expenseLabel} ]], //変数式で取り出す
                datasets:[{
                    backgroundColor: [[${categoryColor}]],
                    data:[[${expenseData}]],  //labelと同様
                }]
              },
              options: {
                title: {
                  display: true,
                  text: '支出'
                }
              }
            });
        </script>

        <div>
            <form th:action="@{/houseHold}" method="get">
                <button type="submit" class="btn btn-outline-secondary me-3">詳細を見る</button>
            </form>
        </div>

    </div>

</body>
</html>