<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>個別記録画面</title>
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<body>
<header>
    <a th:href="@{/}" class="home-logo">
        <h1>Kakeibo</h1>
    </a>
    <div th:if="${landmark} == 'history'" >
        <form th:action="@{/history}" method="get">
            <button type="submit" class="btn btn-outline-secondary me-3">戻る</button>
        </form>
    </div>
    <div th:if="${landmark} == 'houseHold'" >
        <form th:action="@{/houseHold/{id}(id=${bigCategoryId})}" method="get">
            <button type="submit" class="btn btn-outline-secondary me-3">戻る</button>
        </form>
    </div>
</header>

<div class="main-contents mx-auto">
<div class="alert alert-danger" th:each="errorMessage : ${errorMessages}">
    <p th:text="${errorMessage}">
</div>

<table class="table table-hover">
    <thead>
    <tr class="table-secondary">
        <th>日付</th>
        <th>大カテゴリ</th>
        <th>小カテゴリ</th>
        <th>金額</th>
        <th>メモ</th>
        <th>　</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${records}">
        <td th:text="${record.date}"></td>
        <td th:text="${record.bigCategoryName}"></td>
        <td th:text="${record.smallCategoryName}"></td>
        <td th:text="${record.amount}"></td>
        <td th:text="${record.memo}"></td>
        <td>
            <form th:action="@{editRecord/{id}(id=${record.id})}">
                <button type="submit" class="btn btn-outline-primary me-3">編集</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>